@page "/ExperimentalPage"
@using AntDesign
<h3>ExperimentalPage</h3>

<hr/>

<div class="row">
    <div class="col-sm-4">
        
        <Button Type="@ButtonType.Primary"  OnClick="OnButtonClicked">Test button</Button>
        
    </div>
    <div class="col-sm-1">
        <span>@_counter</span>
    </div>
</div>

