@page "/ExperimentalPage"
@using AntDesign
@using AntExperiments.Models;
<h3>ExperimentalPage</h3>

<hr/>

<div class="row">
    <div class="col-sm-4">

        <Button Type="@ButtonType.Primary" OnClick="OnButtonClicked">Test button</Button>

    </div>
    <div class="col-sm-1">
        <span>@_counter</span>
    </div>
</div>
<div>
    <h3>Tree</h3>
</div>

<div class="row">
    <Tree DataSource="_data"
          ShowIcon="true"
          TItem="MetaObjectTreeNode"
          @bind-CheckedKeys="checkedKeys"
          TitleExpression="x => x.DataItem.Title"
          ChildrenExpression="x => x.DataItem.Children"
          Checkable
          KeyExpression="x => x.DataItem.Uid.ToString()">
        <TreeNode TItem="MetaObjectTreeNode">
            @* <IconTemplate Context="node"> *@
            @*     <Icon Type="menu-unfold" Theme="outline"/> *@
            @*     $1$ @if (node.DataItem.IconClass != null) #1# *@
            @*     $1$ { #1# *@
            @*     $1$ <span>+</span> #1# *@
            @*     $1$<span class=@(node.DataItem.IconClass)></span>#1# *@
            @*     $1$<Icon Type="frown" Theme="outline" />#1# *@
            @*     $1$ } #1# *@
            @* </IconTemplate> *@
        </TreeNode>

    </Tree>
</div>
<div class="row" style="width: 100px;">
    <button @onclick="ClickBtn">Click</button>
</div>