@page "/ExperimentalPage"
@using AntDesign
@using AntExperiments.Models;
<h3>ExperimentalPage</h3>

<hr/>

<div class="row">
    <div class="col-sm-4">

        <Button Type="@ButtonType.Primary" OnClick="OnButtonClicked">Test button</Button>

    </div>
    <div class="col-sm-1">
        <span>@_counter</span>
    </div>
</div>
<div>
    <h3>Tree</h3>
</div>

<div class="row">
    <Icon Type="smile"/>
</div>

<div class="row">
    <i class="glyphicon glyphicon-book"></i>
</div>

<div class="row">
    <Tree DataSource="_data"
          ShowIcon
          TItem="MetaObjectTreeNode"
          @bind-CheckedKeys="checkedKeys"
          TitleExpression="x => x.DataItem.Title"
          ChildrenExpression="x => x.DataItem.Children"
          DefaultCheckedKeys="checkedKeys"
          Checkable
          KeyExpression="x => x.DataItem.Uid.ToString()">
          <TitleIconTemplate>
              @if (context.DataItem.IconClass != null)
              {
                <span>+</span>
            }
            else
            {
                <span>-</span>
            }
        </TitleIconTemplate>
    </Tree>
</div>

<div class="row">
    <span>---------</span>
</div>

<div class="row">

    <Tree ShowIcon Checkable TItem="string">

        @foreach (var item in _data)
        {
            <TreeNode Title="@item.Title" TItem="string" Icon="smile">
                @foreach (var child in item.Children)
                {
                    <TreeNode Title="@child.Title" TItem="string" Context="node">
                        <IconTemplate>
                            <span>+</span>
                        </IconTemplate>
                    </TreeNode>
                }
            </TreeNode>
        }
    </Tree>
</div>

<div class="row" style="width: 100px;">
    <button @onclick="ClickBtn">Click</button>
</div>
<div class="row" style="width: 100px;">
    <button @onclick="SetChecked">Set checked</button>
</div>

@*@code {
    RenderFragment switcherIcon =@<span>+</span>;
}*@